/* nav bar */
.right {
  float: right;
}

.left {
  float: left;
}

#nav {
  display: block;
  background-color: white;
  display: inline-block;
  width: 98vw;
  border: 3px solid lightgrey;
  border-radius: 5px;
  margin: 6px;
}

/* main section */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

#quizBody {
  text-align: center;
  padding: 12vh;
}

.h1 {
  /* Box-model */
  padding: 9px;
  
  /* Positioning */
  margin: 12px;
  font-size: 40px;
  
  /* Typography */
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
  }

  .h4 {
    font-family: sans-serif;
  }

.p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: teal;
  color: white;
  border-radius: 5px;
  padding: 10px 16px 10px 16px;
  font-size: 17px;
  font-family: 'Roboto Slab', arial;
  margin: 4px;
}

button:hover {
  transition-duration: 0.4s;
  background-color:;
}

#quiz {
  text-align: center;
}