
body{
  font-family: 'Questrial', sans-serif;
  background: #cacaca
}

 h1 {
    /* Box-model */
    padding: 9px;
    
    /* Positioning */
    margin: 12px;
    font-size: 40px;
    
    /* Typography */
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    }

.container{
  height: 330px;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 8px 3px rgb(41, 41, 41);
}

.h1 {
  /* Box-model */
  padding: 9px;
  
  /* Positioning */
  margin: 12px;
  font-size: 40px;
  
  /* Typography */
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
  }

.title{
 padding-top: 20px;
 text-align: center;
 font-size: 36px;
 text-transform: uppercase;
 color: black
}

#question-page{
  height: 330px;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 8px 3px rgb(41, 41, 41);
}
#question-page {
  padding: 20px;
  font-size: 16px;
  background: white;
  position: center;
  width: 200px;
  height: 200px;
  border: 20px;
  margin: 10px 0 10px 0;
  color: black
}

.option{
  width: 470px;
  display: inline-block;
  padding: 10px 0 10px 0;
  vertical-align: middle;
  background: #cacaca;
  margin: 10px 0 10px 0;
  color: black;
  border: 20px;
}

.option:hover {
  background: teal;
  color: white;
}

.answer-button{
  border: none;
  outline: none;
  background: teal;
  color: white;
  width: 200px;
  height: 35px;
  border: 20px;
  cursor: pointer;
  align-items: center;
  margin: 10px;
}

.answer-button:hover{
  background: white;
  color: teal;
}

.result{
  height: 100px;
  text-align: center;
  font-size: 75px;
}

.option input:checked .option{
  background: teal;
  color: white;
}